<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add
            id="Vkormilets_RequestPrice::price"
            title="Price Request"
            translate="title"
            module="Vkormilets_RequestPrice"
            sortOrder="70"
            parent="Magento_Customer::customer"
            action="pricerequest"
            resource="Vkormilets_RequestPrice::price"/>
    </menu>
</config>
